@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

body{
   background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,67,186,0.5480567226890756) 54%, rgba(0,212,255,1) 100%);
}
h1{
	font-family: 'SEGA LOGO FONT';
	color:#1722d1;
	font-size:20px;
	
}

